<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete {{author.first_name}} {{author.last_name}}</title>
</head>
<body>
    <p>Deleting an Author also delete all of its books.</p>
    <form method="post" action={% url "BookLib:delete_author" author.pk %}>
        {% csrf_token %}
        <p>are you sure you want to delete {{author.first_name}} {{author.last_name}} ?</p>
        <p>the action cannot be undone</p>
        <button type="submit">Yes</button>
        <button type="button">
            <a href={% url "BookLib:author_detail" author.pk %}>Cancel</a>
        </button>
    </form>
</body>
</html>