{% extends "BookLib/base.html" %}
{% load static %}

{% block title %}
    Delete {{author.first_name}} {{author.last_name}}
{% endblock title %}

{% block content %}
<form method="post" action={% url "BookLib:delete_author" author.pk %}>
    {% csrf_token %}
    <div class="alert alert-danger my-5">
            <p>Deleting an Author also delete all of its books.</p>
            <p>are you sure you want to delete {{author.first_name}} {{author.last_name}} ?</p>
            <p>the action cannot be undone</p>
        </div>
        <button class="btn btn-danger mb-2" type="submit">Yes</button>
        <a class="btn btn-secondary mb-2" href={% url "BookLib:author_detail" author.pk %}>Cancel</a>
    </form>
{% endblock content %}
