<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.name}}</title>
</head>
<body>
    <p>name: {{book.name}}</p>
    <p>publish date: {{book.date_published}}</p>
    <p>author: {{author.first_name}} {{author.last_name}}</p>
    
    <button type="button">
        <a href={% url "BookLib:update_book" book.pk %}>Update Book</a>
    </button>
    
    <button>
        <a href={% url "BookLib:delete_book" book.pk %}>Delete Book</a>
    </button>

    <button>
        <a href={% url "BookLib:author_detail" book.author.pk %}>go back to author detail</a>
    </button>
</body>
</html>