<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update book</title>
</head>
<body>
    <p>Are you sure you want to delete {{book.name}}?</p>
    <p>deleting the book won't delete the author</p>
    <form method="post" action="{% url 'BookLib:delete_book' book.pk %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <button type="button">
            <a href={% url "BookLib:book_detail" book.pk %}>Cancel</a>
        </button>
    </form>
</body>
</html>