<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{author.first_name}} {{author.last_name}}</title>
</head>
<body>
    <h1>Author Details</h1>

    <button type="button"><a href="">Add Book</a></button>
    <button type="button"><a href="">Edit Author</a></button>
    <p>{{author.first_name}} {{author.last_name}}</p>
    {% for book in books %}
      <p>{{book}}</p>
    {% endfor %}
    <button type="button">
        <a href={% url "BookLib:delete_author" author.pk %}>Delete Author</a>
    </button>

    <button>
        <a href={% url "BookLib:index" %}>go back to author list</a>
    </button>
</body>
</html>