{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/BookLib/index.css" %}>
    <title>Index</title>
</head>
<body>
    
    <a href={% url "BookLib:add_author" %}>Add author</a>
    <form method="get" action="{% url 'BookLib:search_author' %}">
      <input type="text" name="q" placeholder="Search authors">
      <button type="submit">Search</button>
    </form>
    <p>authors</p>
    {% for author in authors %}
      <p>{{author.first_name}} {{author.last_name}}</p>
      <button type="button">
        <a href={% url "BookLib:author_detail" author.pk %}>Details</a>
      </button>
    {% endfor %}
</body>
</html>