{% extends "BookLib/base.html" %}
{% load static %}


{% block title %}
  BookLib - Author list
{% endblock title %}

{% block content %}
    <h1 class="display-4 text-center my-4">BookLib</h1>
    <a class="btn btn-primary my-3" href={% url "BookLib:add_author" %}>Add author</a>
    <form class="form mb-3" method="get" action="{% url 'BookLib:search_author' %}">
      <input type="text" name="q" placeholder="Search authors">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <h2 class="h2 my-3">Authors</h2>
    <ul class="list-group">
      {% for author in authors %}
      <li class="list-group-item">
        <div class="container mb-3">
          <div class="row row-cols-auto justify-content-center">
            <p class="col">{{author.first_name}} {{author.last_name}}</p>
            <a class="col btn btn-secondary" href={% url "BookLib:author_detail" author.pk %}>Details</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
{% endblock content %}
